.input-box {
  position: relative;
  height: 60px;
  max-width: 60px;
  width: 100%;
  margin: 0 25px;
  border-radius: 10px;
  box-shadow: 0 7px 20px -8px rgba(0, 0, 0, 0.3);
  background-color: #2f366d;
  transition: all 0.6s cubic-bezier(0.58, 0, 0.5, 1);
}

.input-box.open {
  width: 80vw;
  max-width: 600px;
  margin-left: 0px;
  padding: 0 15px 0 62px;
}

input {
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 18px !important;
  font-weight: 400;
  color: #dadada;
  background-color: #2f366d;
}
input::placeholder {
  color: #aaa;
}

input:-internal-autofill-selected {
  background-color: #2f366d !important;
  color: #dadada !important;
}

.icon {
  position: absolute;
  height: 58px;
  top: 0;
  left: 0;
  width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #2f366d;
  box-shadow: -8px 8px 14px -8px var(--blue-700);
}

.search-icon,
.close-icon {
  position: absolute;
  top: 54%;
  font-size: 28px;
  transition: all 0.6s cubic-bezier(0.58, 0, 0.12, 1);
}

.search-icon {
  color: #5c77ff;
  transform: translateY(-50%) rotate(90deg);
}

.input-box.open .search-icon {
  transform: translateY(-50%) rotate(0);
}

.close-icon {
  right: -34px;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-box.open .close-icon {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}